div {
    background-color: red;
    border: 500px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.flex-item{
    width: 100px;
    height: 100px;
    padding: 30px;
    border: 30px;
    background-color: white;

}