#echtefotoslider {
    display: flex;
    flex-direction: row;
    

}


.foto {
    width: 200px;
    height: 150px;
    overflow: hidden;

}

img {
  max-width: 100%;  
  height: auto;  

}


#viewport {
    position: relative;
    height: 200px;
    overflow: hidden;
    width: 200px;
    box-shadow: black;
    
}

#echtefotoslider {
    position: absolute;
    left: 0;
    /* ANDERE REGELS GEWOON LATEN STAAN! */
    transition-property: left;
    transition-duration: 400ms;
    transition-timing-function: step-end;

}

body {
    background-color:lightblue;
}

#midden {
    display: flex;
    flex-direction: center;
    justify-content: right;
    align-items: center;
    padding: 100px;
    margin: 100; 
    

}

#besturing {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    padding: 400px;
}

#controls {
    background-color: red;
    color: red;
    padding: 20px;
    font-size: large;
    border: black;
    margin: auto;

}